<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintence</title>
    </head>

    <body>
        <h1>We will be right back...</h1>
        <p>This site is currently updated</p>
    </body>
</html>