<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio</title>
    </head>

    <body>
        {{> header}}
        
        <p>Portfolio: <a href="https://gitlab.com/cannonball1911">Gitlab</a></p>

        {{> footer}}
    </body>
</html>